<odoo>
    <menuitem
        id="menu_banking_root"
        name="Banking"
        web_icon="rafi_banking_module,static/description/icon.png"
        sequence="10"/>

    <menuitem
        id="menu_banking_accounts"
        name="Accounts"
        parent="menu_banking_root"
        sequence="10"/>

    <menuitem
        id="menu_banking_transactions"
        name="Transactions"
        parent="menu_banking_root"
        sequence="20"/>
</odoo>
